{{#if messages}}
{{#each messages}}
<div  class="divChat">
  <img class="imgChat" src={{this.avatar}} alt="">
  <p class="emailChat"> {{this.email}} </p>
  <p class="dateChat">{{this.date}} </p>
  <p class="textChat"> Mensaje: {{this.message}}</p>
</div>
{{/each}}
{{else}}
{{/if}}